<h2 mat-dialog-title class="bg-corhuila-p-as-2 font-corhuila text-white">
  <i class="fa-solid fa-circle-info"></i> Formulario norma
</h2>
<mat-dialog-content>
  <div class="row mt-2 text-left">
    <div class="col">
      <div class="row">
        <div class="col">
          <fieldset class="scheduler-border shadow-sm">
            <legend class="scheduler-border">Selección de grupo</legend>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Grupo<span class="requerido">*</span></label>
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-select
                      class="font-sm-corhuila"
                      [(ngModel)]="grupo"
                      (ngModelChange)="obtenerNormaSinClasificar($event);obtenerNormaClasificada($event);"
                    >
                      <mat-option
                        class="font-sm-corhuila"
                        *ngFor="let item of listadoNormaGrupo"
                        [value]="item.codigo"
                        >{{item.nombre}}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <fieldset class="scheduler-border shadow-sm">
            <legend class="scheduler-border">Clasificado</legend>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Palabras claves<span class="requerido">*</span></label>
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <input
                      matInput
                      type="text"
                      (keyup)="filtrarCalsificado($event)"
                      required
                    />
                    <button
                      matSuffix
                      style="
                        text-decoration: none;
                        background: none;
                        border: none;
                      "
                    >
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <table mat-table [dataSource]="dataSourceClasificado">
              <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef>N°</th>
                <td
                  mat-cell
                  *matCellDef="let element; let i = index"
                  class="font-sm-usco"
                >
                  {{ dataSourceClasificado.filteredData.indexOf(element) + 1 }}
                </td>
              </ng-container>
              <ng-container matColumnDef="entidad">
                <th mat-header-cell *matHeaderCellDef>Entidad</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.norma.entidad }}
                </td>
              </ng-container>
              <ng-container matColumnDef="norma">
                <th mat-header-cell *matHeaderCellDef>Norma agrupada</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.norma.normaTipo }} {{ element.norma.numero }} {{
                  element.norma.nombre }}
                </td>
              </ng-container>
              <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef>Quitar</th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  class="font-sm-usco text-center"
                >
                  <button
                    class="btn btn-corhuila-delete btn-sm"
                    (click)="eliminar(element)"
                  >
                    <i class="fa-solid fa-trash fa-xs"></i>
                  </button>
                </td>
              </ng-container>
              <tr
                mat-header-row
                *matHeaderRowDef="displayedColumnsClasificado"
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedColumnsClasificado"
              ></tr>
            </table>
            <mat-paginator
              #MatPaginatorClasificado="matPaginator"
              [pageSizeOptions]="[10, 20, 30]"
              showFirstLastButtons
            ></mat-paginator>
          </fieldset>
        </div>
        <div class="col">
          <fieldset class="scheduler-border shadow-sm">
            <legend class="scheduler-border">General</legend>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Palabras claves<span class="requerido">*</span></label>
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <input
                      matInput
                      type="text"
                      (keyup)="filtrarGeneral($event)"
                      required
                    />
                    <button
                      matSuffix
                      style="
                        text-decoration: none;
                        background: none;
                        border: none;
                      "
                    >
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <table mat-table [dataSource]="dataSourceGeneral">
              <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef>N°</th>
                <td
                  mat-cell
                  *matCellDef="let element; let i = index"
                  class="font-sm-usco"
                >
                  {{ dataSourceGeneral.filteredData.indexOf(element) + 1 }}
                </td>
              </ng-container>
              <ng-container matColumnDef="entidad">
                <th mat-header-cell *matHeaderCellDef>Entidad</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.entidad }}
                </td>
              </ng-container>
              <ng-container matColumnDef="norma">
                <th mat-header-cell *matHeaderCellDef>Normas</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.normaTipo }} {{ element.numero }} {{ element.nombre
                  }}
                </td>
              </ng-container>
              <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef>Agregar</th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  class="font-sm-usco text-center"
                >
                  <button
                    class="btn btn-info btn-sm"
                    (click)="adicionar(element)"
                  >
                    <i class="fa-solid fa-plus fa-xs"></i>
                  </button>
                </td>
              </ng-container>
              <tr
                mat-header-row
                *matHeaderRowDef="displayedColumnsGeneral"
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedColumnsGeneral"
              ></tr>
            </table>
            <mat-paginator
              #MatPaginatorGeneral="matPaginator"
              [pageSizeOptions]="[10, 20, 30]"
              showFirstLastButtons
            ></mat-paginator>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<hr />
<mat-dialog-actions align="end">
  <button class="btn btn-warning" mat-dialog-close>
    <i class="fa-solid fa-xmark"></i> Cerrar
  </button>
  <!--  <button type="button" class="btn btn-success ml-2">
    <i class="far fa-save"></i> Guardar
  </button> -->
</mat-dialog-actions>
