<app-navbar>
  <div id="content-wrap" class="mt-3 mb-4 text-center">
    <div class="card rounded-2 p-0 shadow-sm mt-5">
      <div
        class="card-header text-center ml-4 mr-4 cursor-select"
        [routerLink]="['/estructura']"
        routerLinkActive="router-link-active"
      >
        <h4 #hiddenDiv class="font-usco-default">
          <strong>Representante legal</strong>
        </h4>
      </div>
      <div class="card-body ls">
        <div class="row pl-5 pr-5">
          <div class="col">
            <form [formGroup]="formRepresentanteLegal">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Persona</mat-label>
                      <mat-select formControlName="persona">
                        <mat-option
                          *ngFor="let persona of listadoPersona"
                          [value]="persona.codigo"
                          (click)="precargaCorreo(persona)"
                          >{{ persona.identificacion }} - {{ persona.nombre }}
                          {{ persona.apellido }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Correo</mat-label>
                      <input matInput type="text" [value]="correo" required />
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Norma</mat-label>
                      <mat-select formControlName="norma">
                        <mat-option value="1">Norma Uno</mat-option>
                        <mat-option value="2">Norma Dos</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Fecha inicio nombramiento</mat-label>
                      <input
                        matInput
                        [matDatepicker]="picker1"
                        (dateChange)="limiteVigencia()"
                        [min]="fechaLimiteMinima"
                        formControlName="fechaInicio"
                      />
                      <mat-hint>Día/Mes/Año</mat-hint>
                      <mat-datepicker-toggle
                        matIconSuffix
                        [for]="picker1"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Fecha fin nombramiento</mat-label>
                      <input
                        matInput
                        [matDatepicker]="picker2"
                        [min]="fechaLimiteMinimaVigencia"
                        formControlName="fechaFin"
                      />
                      <mat-hint>Día/Mes/Año</mat-hint>
                      <mat-datepicker-toggle
                        matIconSuffix
                        [for]="picker2"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Justificación u observación</mat-label>
                      <textarea
                        matInput
                        type="text"
                        formControlName="justificacion"
                        required
                        rows="5"
                      ></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col text-center">
                  <button
                    type="button"
                    class="btn btn-success mr-2"
                    [disabled]="!formRepresentanteLegal.valid"
                    (click)="generarRepresentantLegal()"
                  >
                    <i class="far fa-save"></i> Guardar
                  </button>
                  <button
                    *ngIf="editar"
                    class="btn btn-danger mr-2"
                    (click)="eliminarRepresentantLegal()"
                  >
                    <i class="fa-solid fa-trash"></i> Borrar
                  </button>
                  <button
                    *ngIf="editar"
                    class="btn btn-warning"
                    (click)="cancelar()"
                  >
                    <i class="fa-solid fa-xmark"></i> Cancelar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col">
            <table
              mat-table
              [dataSource]="dataSource"
              class="table table-hover shadow"
            >
              <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef>N°</th>
                <td
                  mat-cell
                  *matCellDef="let element; let i = index"
                  class="font-sm-usco"
                >
                  {{ dataSource.filteredData.indexOf(element) + 1 }}
                </td>
              </ng-container>
              <ng-container matColumnDef="persona">
                <th mat-header-cell *matHeaderCellDef>Representante legal</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.persona.nombre }} {{ element.persona.apellido }}
                </td>
              </ng-container>
              <ng-container matColumnDef="correo">
                <th mat-header-cell *matHeaderCellDef>Correo</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.persona.correo }}
                </td>
              </ng-container>
              <ng-container matColumnDef="norma">
                <th mat-header-cell *matHeaderCellDef>Norma</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  <span *ngIf="element.norma === 1">Norma Uno</span>
                  <span *ngIf="element.norma === 2">Norma Dos</span>
                </td>
              </ng-container>
              <ng-container matColumnDef="fechaInicio">
                <th mat-header-cell *matHeaderCellDef>Fecha inicio</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.fechaInicio | date : "dd/MM/yyyy" }}
                </td>
              </ng-container>
              <ng-container matColumnDef="fechaFin">
                <th mat-header-cell *matHeaderCellDef>Fecha finalización</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.fechaFin | date : "dd/MM/yyyy" }}
                </td>
              </ng-container>
              <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef>Opciones</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  <button
                    *ngIf="element.estado === 1"
                    class="btn btn-success btn-sm mr-2"
                    title="Activo"
                  >
                    <i class="fas fa-check-square fa-xs"></i>
                  </button>
                  <button
                    *ngIf="element.estado !== 1"
                    class="btn btn-secondary btn-sm mr-2"
                    title="Inactivo"
                  >
                    <i class="fa-solid fa-square-minus fa-xs"></i>
                  </button>
                  <!--   <button class="btn btn-info btn-sm mr-2" title="Informacion">
                    <i class="fa-solid fa-circle-info fa-xs"></i>
                  </button> -->
                  <button
                    class="btn btn-primary btn-sm"
                    (click)="editarRepresentantLegal(element)"
                    title="Editar"
                  >
                    <i class="fa-solid fa-pencil fa-xs"></i>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-paginator
              [pageSizeOptions]="[10, 20, 30]"
              showFirstLastButtons
            ></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-navbar>
