<app-navbar>
  <div class="mb-4 text-center">
    <div class="card mt-3">
      <div
        class="card-header text-left cursor-select"
        [routerLink]="['/estructura']"
        routerLinkActive="router-link-active"
      >
        <h4 class="mt-2">Formulario representante legal</h4>
      </div>
      <div class="card-body">
        <div class="row text-right">
          <div class="col">
            <button class="btn btn-info" (click)="registrarFormulario()">
              <i class="fa-solid fa-plus"></i> Registrar
            </button>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <table
              mat-table
              [dataSource]="dataSource"
              class="table table-hover shadow"
            >
              <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef>N°</th>
                <td
                  mat-cell
                  *matCellDef="let element; let i = index"
                  class="font-sm-usco"
                >
                  {{ dataSource.filteredData.indexOf(element) + 1 }}
                </td>
              </ng-container>
              <ng-container matColumnDef="persona">
                <th mat-header-cell *matHeaderCellDef>Representante legal</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.persona.nombre }} {{ element.persona.apellido }}
                </td>
              </ng-container>
              <ng-container matColumnDef="correo">
                <th mat-header-cell *matHeaderCellDef>Correo</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.persona.correo }}
                </td>
              </ng-container>
              <ng-container matColumnDef="norma">
                <th mat-header-cell *matHeaderCellDef>Norma</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  <span *ngIf="element.norma === 1">Norma Uno</span>
                  <span *ngIf="element.norma === 2">Norma Dos</span>
                </td>
              </ng-container>
              <ng-container matColumnDef="fechaInicio">
                <th mat-header-cell *matHeaderCellDef>Fecha inicio</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.fechaInicio | date : "dd/MM/yyyy" }}
                </td>
              </ng-container>
              <ng-container matColumnDef="fechaFin">
                <th mat-header-cell *matHeaderCellDef>Fecha finalización</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.fechaFin | date : "dd/MM/yyyy" }}
                </td>
              </ng-container>
              <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef>Opciones</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  <button
                    *ngIf="!botonActivo(element)"
                    class="btn btn-success btn-sm mr-2"
                    #tooltip="matTooltip"
                    matTooltip="Activo"
                    matTooltipPosition="above"
                  >
                    <i class="fa-solid fa-check fa-xs"></i>
                  </button>
                  <button
                    *ngIf="botonActivo(element)"
                    class="btn btn-secondary btn-sm mr-2"
                    #tooltip="matTooltip"
                    matTooltip="Inactivo"
                    matTooltipPosition="above"
                  >
                    <i class="fa-solid fa-square-minus fa-xs"></i>
                  </button>
                  <button
                    class="btn btn-corhuila-info btn-sm mr-2"
                    #tooltip="matTooltip"
                    matTooltip="Informacion"
                    matTooltipPosition="above"
                  >
                    <i class="fa-solid fa-eye fa-xs"></i>
                  </button>
                  <button
                    class="btn btn-corhuila-delete btn-sm mr-2"
                    (click)="eliminarRepresentantLegal(element)"
                    #tooltip="matTooltip"
                    matTooltip="Borrar"
                    matTooltipPosition="above"
                  >
                    <i class="fa-solid fa-trash fa-xs"></i>
                  </button>
                  <button
                    *ngIf="!botonActivo(element)"
                    class="btn btn-corhuila-editar btn-sm"
                    (click)="editarRepresentantLegal(element)"
                    #tooltip="matTooltip"
                    matTooltip="Editar"
                    matTooltipPosition="above"
                  >
                    <i class="fa-solid fa-pencil fa-xs"></i>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-paginator
              [pageSizeOptions]="[10, 20, 30]"
              showFirstLastButtons
            ></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-navbar>
