<h2 mat-dialog-title class="bg-corhuila-p-as-2 font-corhuila text-white">
  <i class="fa-solid fa-circle-info"></i> Hoja de vida programa
  <!-- <i class="fa-solid fa-xmark" mat-dialog-close></i> -->
</h2>
<mat-dialog-content>
  <br />
  <div class="container" style="border: solid #edeff0 1px" id="print-section">
    <div class="row">
      <div class="col">
        <img src="assets/header.jpg" alt="CORHUILA" style="width: 100%" />
      </div>
    </div>
    <form>
      <div class="row text-center m-3 font-weight-bold"><div class="col">
        <h3>Hoja de vida - Programa académico</h3>
      </div></div>
      <div class="row pl-4 pr-4 mb-2">
        <div class="col">
          <table class="table table-bordered text-center">
            <thead
              class="font-weight-bold thead-corhuila"
              style="background-color: #edeff0 !important; color: black"
            >
              <th>INSTITUCIÓN</th>
            </thead>
            <tbody>
              <tr>
                <td *ngIf="(listadoInstitucion | json)!='[]'">
                  {{listadoInstitucion[0].nombre}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row pl-4 pr-4">
        <div class="col">
          <table class="table table-bordered text-center shadow-sm">
            <thead
              class="font-weight-bold thead-corhuila"
              style="background-color: #edeff0 !important; color: black"
            >
              <th>NIT</th>
              <th>CÓDIGO SNIES</th>
              <th>CÓDIGO SNIES PADRE</th>
            </thead>
            <tbody>
              <tr>
                <td *ngIf="(listadoInstitucion | json)!='[]'">
                  {{listadoInstitucion[0].nit}}
                </td>
                <td *ngIf="(listadoInstitucion | json)!='[]'">
                  {{listadoInstitucion[0].ies}}
                </td>
                <td *ngIf="(listadoInstitucion | json)!='[]'">
                  {{listadoInstitucion[0].iesPadre}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row pl-4 pr-4">
        <div class="col">
          <table class="table table-bordered text-center shadow-sm">
            <thead
              class="font-weight-bold"
              style="background-color: #edeff0 !important; color: black"
            >
              <th>SECTOR</th>
              <th>NATURALEZA JURÍDICA</th>
              <th>CARÁCTER ACADÉMICO</th>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row pl-4 pr-4">
        <div class="col">
          <table class="table table-bordered text-center shadow-sm">
            <thead
              class="font-weight-bold"
              style="background-color: #edeff0 !important; color: black"
            >
              <th>PAÍS</th>
              <th>DEPARTAMENTO</th>
              <th>MUNICIPIO</th>
              <th>CABECERA MUNICIPAL</th>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row pl-4 pr-4">
        <div class="col">
          <table class="table table-bordered text-center shadow-sm">
            <thead
              class="font-weight-bold"
              style="background-color: #edeff0 !important; color: black"
            >
              <th>DIRECCIÓN</th>
              <th>TELEFONO</th>
              <th>PÁGINA WEB</th>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row pl-4 pr-4">
        <div class="col">
          <table class="table table-bordered text-center shadow-sm">
            <thead
              class="font-weight-bold"
              style="background-color: #edeff0 !important; color: black"
            >
              <th>NORMA DE CREACIÓN</th>
              <th>FECHA DE LA NORMA DE CREACIÓN</th>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br /><br /><br /><br />
    </form>
    <div class="row">
      <div class="col">
        <img src="assets/footer.jpg" alt="CORHUILA" style="width: 100%" />
      </div>
    </div>
  </div>
</mat-dialog-content>
<hr />
<mat-dialog-actions align="end">
  <button class="btn btn-warning mr-2" mat-dialog-close>
    <i class="fa-solid fa-xmark"></i> Cancelar
  </button>
  <button class="btn btn-corhuila-print" (click)="generarPdf()">
    <i class="fa-solid fa-print"></i> Imprimir
  </button>
</mat-dialog-actions>
