<h2 mat-dialog-title class="bg-corhuila-p-as-2 font-corhuila text-white">
  <i class="fa-solid fa-circle-info"></i> Formulario norma
</h2>
<mat-dialog-content>
  <div class="row pl-4 pr-4 mt-2 text-left">
    <div class="col">
      <form [formGroup]="formNorma">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Entidad<span class="requerido">*</span></label>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-select
                  class="font-sm-corhuila"
                  formControlName="entidadCodigo"
                >
                  <mat-option
                    class="font-sm-corhuila"
                    value="1"
                    (click)="entidadInterna()"
                    >INTERNA</mat-option
                  >
                  <mat-option
                    class="font-sm-corhuila"
                    value="2"
                    (click)="entidadExterna()"
                    >EXTERNA</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col" *ngIf="interna">
            <div class="form-group">
              <label
                >Tipo de entidad interna<span class="requerido">*</span></label
              >
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-select class="font-sm-corhuila" formControlName="rectoria">
                  <mat-option
                    class="font-sm-corhuila"
                    value="1"
                    (click)="entidadRectoria()"
                    >RECTORÍA</mat-option
                  >
                  <mat-option
                    class="font-sm-corhuila"
                    value="0"
                    (click)="entidadCuerpoColegiado()"
                    >CUERPO COLEGIADO</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="cuerpoColegiado" class="col">
            <div class="form-group">
              <label>Cuerpo Colegiado<span class="requerido">*</span></label>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-select
                  class="font-sm-corhuila"
                  formControlName="cuerpoColegiadoCodigo"
                >
                  <mat-option
                    class="font-sm-corhuila"
                    *ngFor="
                      let cuerpoColegiado of listadoCuerposColegiados
                    "
                    [value]="cuerpoColegiado.codigo"
                    >{{ cuerpoColegiado.nombreCorto }} - {{
                    cuerpoColegiado.nombre }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="externa" class="col">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Entidad externa<span class="requerido">*</span></label>
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-select
                      class="font-sm-corhuila"
                      formControlName="entidadExternaCodigo"
                    >
                      <mat-option
                        class="font-sm-corhuila"
                        *ngFor="let item of listadoEntidadExterna"
                        [value]="item.codigo"
                        >{{ item.nombre }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group" *ngIf="!cuerpoColegiado && externa">
              <label>Tipo de norma<span class="requerido">*</span></label>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-select
                  class="font-sm-corhuila"
                  formControlName="normaTipoCodigo"
                >
                  <mat-option
                    class="font-sm-corhuila"
                    *ngFor="let item of listadoNormaTipo"
                    [value]="item.codigo"
                    >{{ item.nombre }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group" *ngIf="!cuerpoColegiado && !externa">
              <label>Tipo de norma<span class="requerido">*</span></label>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-select
                  class="font-sm-corhuila"
                  formControlName="normaTipoCodigo"
                >
                  <mat-option class="font-sm-corhuila" value="2"
                    >RESOLUCIÓN</mat-option
                  ><mat-option class="font-sm-corhuila" value="3"
                    >COMUNICADO</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group" *ngIf="cuerpoColegiado">
              <label>Tipo de norma<span class="requerido">*</span></label>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-select
                  class="font-sm-corhuila"
                  formControlName="normaTipoCodigo"
                >
                  <mat-option class="font-sm-corhuila" value="1"
                    >ACUERDO</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label>Número de la norma<span class="requerido">*</span></label>
              <mat-form-field class="example-full-width" appearance="outline">
                <input
                  matInput
                  type="number"
                  id="numero"
                  formControlName="numero"
                  required
                />
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Nombre de la norma<span class="requerido">*</span></label>
              <mat-form-field class="example-full-width" appearance="outline">
                <input matInput type="text" formControlName="nombre" required />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label
                >Enlace (URL) de la norma<span class="requerido">*</span></label
              >
              <mat-form-field class="example-full-width" appearance="outline">
                <input matInput type="text" formControlName="url" required />
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label
                >Medio en el que se encuentra<span class="requerido"
                  >*</span
                ></label
              >
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-select
                  class="font-sm-corhuila"
                  formControlName="medioCodigo"
                >
                  <mat-option class="font-sm-corhuila" value="1"
                    >DIGITAL</mat-option
                  >
                  <mat-option class="font-sm-corhuila" value="2"
                    >FÍSICO</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Fecha de expedición<span class="requerido">*</span></label>
              <input
                type="date"
                [min]="fechaLimiteMinima"
                (change)="limiteVigencia()"
                formControlName="fechaExpedicion"
                class="form-control"
                required
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Fecha de vigencia<span class="requerido"></span></label>
              <input
                type="date"
                [min]="fechaLimiteMinimaVigencia"
                formControlName="fechaVigencia"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-sm-3" *ngIf="(listadoNorma | json) != '[]'">
            <label>Deroga<span class="requerido">*</span></label>
            <section class="example-section">
              <mat-radio-group formControlName="deroga">
                <mat-radio-button class="example-margin" value="1"
                  >Si</mat-radio-button
                >
                <mat-radio-button class="example-margin" value="0"
                  >No</mat-radio-button
                >
              </mat-radio-group>
            </section>
          </div>
          <div class="col-sm-3" *ngIf="(listadoNorma | json) == '[]'">
            <label>Deroga<span class="requerido">*</span></label>
            <section class="example-section">
              <mat-radio-group formControlName="deroga">
                <mat-radio-button class="example-margin" value="0"
                  >No</mat-radio-button
                >
              </mat-radio-group>
            </section>
          </div>
        </div>
        <div class="row mt-3" *ngIf="formNorma.get('deroga')!.value == '1'">
          <div class="col">
            <fieldset class="scheduler-border shadow-sm">
              <legend class="scheduler-border">Derogación de norma</legend>
              <form [formGroup]="formularioDeroga">
                <table class="table table-bordered">
                  <thead
                    class="table-dark text-justify"
                    style="background-color: #3e6c83"
                  >
                    <tr class="font-sm-corhuila white">
                      <th>Norma que deroga</th>
                      <th class="w-30">
                        Observación <i class="fa-solid fa-circle-info"></i>
                      </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let deroga of lsitadoNormaDeroga;
                        let i = index
                      "
                    >
                      <td class="align-middle">
                        <div class="row">
                          <div class="col-sm-3">
                            <mat-form-field
                              class="example-full-width"
                              appearance="outline"
                            >
                              <input
                                matInput
                                type="text"
                                [value]="deroga.derogaTipo"
                                readonly
                              />
                            </mat-form-field>
                          </div>
                          <div class="col">
                            <mat-form-field
                              class="example-full-width"
                              appearance="outline"
                            >
                              <input
                                matInput
                                type="text"
                                [value]="deroga.normaHijo"
                                readonly
                              />
                            </mat-form-field>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">
                        <div>
                          <mat-form-field
                            class="example-full-width"
                            appearance="outline"
                          >
                            <input
                              matInput
                              type="text"
                              [value]="deroga.observacion"
                              readonly
                            />
                          </mat-form-field>
                        </div>
                      </td>
                      <td class="text-center">
                        <button
                          class="btn btn-corhuila-delete btn-sm mb-1"
                          type="button"
                          #tooltip="matTooltip"
                          matTooltip="Eliminar"
                          matTooltipPosition="above"
                          (click)="preguntaEliminar(deroga)"
                        >
                          <i class="far fa-trash-alt fa-xs"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td class="align-middle">
                        <div class="row">
                          <div class="col-sm-3">
                            <mat-form-field
                              class="example-full-width"
                              appearance="outline"
                            >
                              <mat-select
                                class="font-sm-corhuila"
                                formControlName="derogaTipoCodigo"
                              >
                                <mat-option
                                  class="font-sm-corhuila"
                                  value=""
                                  selected
                                  >Seleccionar</mat-option
                                >
                                <mat-option
                                  (click)="derogatTotal()"
                                  class="font-sm-corhuila"
                                  value="1"
                                  >TOTAL</mat-option
                                >
                                <mat-option class="font-sm-corhuila" value="2"
                                  >PARCIAL</mat-option
                                >
                                <mat-option class="font-sm-corhuila" value="3"
                                  >MODIFICA</mat-option
                                >
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col">
                            <mat-form-field
                              class="example-full-width"
                              appearance="outline"
                            >
                              <input
                                type="text"
                                placeholder="Ecribe el nombre de la norma"
                                aria-label="Number"
                                matInput
                                [matAutocomplete]="auto"
                                [formControl]="myControl"
                              />
                              <mat-autocomplete
                                autoActiveFirstOption
                                #auto="matAutocomplete"
                              >
                                <mat-option
                                  *ngFor="let option of filteredOptions | async"
                                  [value]="option.nombre"
                                  (click)="asignarNormaHijo(option.codigo)"
                                >
                                  {{option.normaTipo}} {{option.numero}}
                                  {{option.nombre | uppercase}}
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">
                        <mat-form-field
                          class="example-full-width"
                          appearance="outline"
                        >
                          <textarea
                            matInput
                            class="font-sm-corhuila"
                            type="text"
                            rows="1"
                            placeholder="Observación derogación"
                            formControlName="observacion"
                          ></textarea>
                        </mat-form-field>
                      </td>
                      <td class="text-center">
                        <button
                          [disabled]="!formularioDeroga.valid"
                          class="btn btn-info btn-sm"
                          type="button"
                          (click)="preguntaCrear()"
                        >
                          <i class="fa-solid fa-plus fa-xs"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </fieldset>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Justificación u observación de norma</label>
              <mat-form-field class="example-full-width" appearance="outline">
                <textarea
                  matInput
                  class="font-sm-corhuila"
                  type="text"
                  rows="5"
                  formControlName="observacion"
                ></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</mat-dialog-content>
<hr />
<mat-dialog-actions align="end">
  <button class="btn btn-warning" mat-dialog-close (click)="cancelar()">
    <i class="fa-solid fa-xmark"></i> Cancelar
  </button>
  <button
    type="button"
    class="btn btn-success ml-2"
    [disabled]="!formNorma.valid"
    (click)="generarNorma()"
  >
    <i class="far fa-save"></i> Guardar
  </button>
</mat-dialog-actions>
