<app-navbar>
  <div class="mt-4 text-center">
    <div class="card shadow-sm">
      <div
        class="card-header text-left cursor-select"
        [routerLink]="['/inicio']"
        routerLinkActive="router-link-active"
      >
        <h4 class="mt-2">Marco normativo</h4>
      </div>
      <div class="card-body">
        <div class="row text-right">
          <div class="col">
            <button class="btn btn-info mr-2" (click)="registrarFormulario()">
              <i class="fa-solid fa-plus"></i> Registrar
            </button>
            <button class="btn btn-success" (click)="exportToExcel()">
              <i class="fa-solid fa-file-excel"></i> Generar normograma
            </button>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <table mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef>N°</th>
                <td
                  mat-cell
                  *matCellDef="let element; let i = index"
                  class="font-sm-usco"
                >
                  {{ dataSource.filteredData.indexOf(element) + 1 }}
                </td>
              </ng-container>
              <ng-container matColumnDef="nombreEntidad">
                <th mat-header-cell *matHeaderCellDef>ENTIDAD</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  <span
                    *ngIf="element.entidadCodigo == 1 && element.rectoria == 0"
                    >{{ element.entidad }} - {{ element.cuerpoColegiado }}</span
                  >
                  <span *ngIf="element.entidadCodigo == 2"
                    >{{ element.entidad }} - {{ element.entidadExterna }}</span
                  >
                  <span *ngIf="element.rectoria == 1"
                    >{{ element.entidad }} - RECTORÍA</span
                  >
                </td>
              </ng-container>
              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>NOMBRE</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.normaTipo }} {{ element.numero }}
                  {{ element.nombre | uppercase }}
                </td>
              </ng-container>
              <ng-container matColumnDef="fechaExpedicion">
                <th mat-header-cell *matHeaderCellDef>FECHA EXPEDICIÓN</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.fechaExpedicion | date : "dd/MM/yyyy" }}
                </td>
              </ng-container>
              <ng-container matColumnDef="fechaVigencia">
                <th mat-header-cell *matHeaderCellDef>FECHA VIGENCIA</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.fechaVigencia | date : "dd/MM/yyyy" }}
                </td>
              </ng-container>
              <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef>OPCIONES</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  <button
                    *ngIf="!botonActivo(element)"
                    class="btn btn-success btn-sm mr-2"
                    #tooltip="matTooltip"
                    matTooltip="Activo"
                    matTooltipPosition="above"
                  >
                    <i class="fa-solid fa-check fa-xs"></i>
                  </button>
                  <button
                    *ngIf="botonActivo(element)"
                    class="btn btn-secondary btn-sm mr-2"
                    #tooltip="matTooltip"
                    matTooltip="Inactivo"
                    matTooltipPosition="above"
                  >
                    <i class="fa-solid fa-square-minus fa-xs"></i>
                  </button>
                  <button
                    class="btn btn-corhuila-info btn-sm mr-2"
                    #tooltip="matTooltip"
                    matTooltip="Informacion"
                    matTooltipPosition="above"
                    (click)="vistaNorma(element)"
                  >
                    <i class="fa-solid fa-eye fa-xs"></i>
                  </button>
                  <button
                    *ngIf="!botonActivo(element)"
                    class="btn btn-corhuila-delete btn-sm mr-2"
                    (click)="eliminarNorma(element)"
                    #tooltip="matTooltip"
                    matTooltip="Borrar"
                    matTooltipPosition="above"
                  >
                    <i class="fa-solid fa-trash fa-xs"></i>
                  </button>
                  <button
                    *ngIf="!botonActivo(element)"
                    class="btn btn-corhuila-editar btn-sm mr-2"
                    (click)="editarNorma(element)"
                    #tooltip="matTooltip"
                    matTooltip="Editar"
                    matTooltipPosition="above"
                  >
                    <i class="fa-solid fa-pencil fa-xs"></i>
                  </button>
                  <button
                    *ngIf="element.deroga == 1"
                    class="btn btn-corhuila-p-1 btn-sm mr-2"
                    (click)="registrarFormularioDeroga(element)"
                    #tooltip="matTooltip"
                    matTooltip="Derogar"
                    matTooltipPosition="above"
                  >
                    <i class="fa-solid fa-sitemap"></i>
                  </button>
                  <button
                    *ngIf="element.derogaTipoCodigo == 1"
                    class="btn btn-danger btn-sm mr-2"
                    #tooltip="matTooltip"
                    matTooltip="{{ element.derogaPadre }} - TOTAL"
                    matTooltipPosition="above"
                  >
                    <i class="fa-solid fa-traffic-light"></i>
                  </button>
                  <button
                    *ngIf="element.derogaTipoCodigo == 2"
                    class="btn btn-warning btn-sm mr-2"
                    #tooltip="matTooltip"
                    matTooltip="{{ element.derogaPadre }} - PARCIAL"
                    matTooltipPosition="above"
                  >
                    <i class="fa-solid fa-traffic-light"></i>
                  </button>
                  <button
                    *ngIf="element.derogaTipoCodigo == 3"
                    class="btn btn-primary btn-sm mr-2"
                    #tooltip="matTooltip"
                    matTooltip="{{ element.derogaPadre }} - MODIFICA"
                    matTooltipPosition="above"
                  >
                    <i class="fa-solid fa-traffic-light"></i>
                  </button>
                  <a href="{{ element.url }}" target="_blank">
                    <button
                      class="btn btn-info btn-sm mr-2"
                      #tooltip="matTooltip"
                      matTooltip="Archivo"
                      matTooltipPosition="above"
                    >
                      <i class="fa-solid fa-link"></i></button
                  ></a>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-paginator
              [pageSizeOptions]="[10, 20, 30]"
              showFirstLastButtons
            ></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-navbar>
