<app-navbar>
  <div class="mt-4 text-center">
    <div class="card shadow-sm">
      <div
        class="card-header text-left cursor-select"
        [routerLink]="['/inicio']"
        routerLinkActive="router-link-active"
      >
        <h4 class="mt-2">Marco normativo</h4>
      </div>
      <div class="card-body">
        <div class="row text-right">
          <div class="col">
            <button class="btn btn-info mr-2" (click)="registrarFormulario()">
              <i class="fa-solid fa-plus"></i> Registrar
            </button>
            <button class="btn btn-success" (click)="exportToExcel()">
              <i class="fa-solid fa-file-excel"></i> Generar normograma
            </button>
          </div>
        </div>
        <fieldset class="scheduler-border shadow-sm">
          <legend class="scheduler-border">Filtros</legend>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-select
                  class="font-sm-corhuila"
                  placeholder="ENTIDAD"
                  [(ngModel)]="entidad"
                >
                  <mat-option class="font-sm-corhuila" value="INTERNA"
                    >INTERNA</mat-option
                  >
                  <mat-option class="font-sm-corhuila" value="EXTERNA"
                    >EXTERNA</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-select
                  class="font-sm-corhuila"
                  placeholder="ENTIDAD INTERNA"
                  [(ngModel)]="entidadInterna"
                >
                  <mat-option class="font-sm-corhuila" value="1"
                    >RECTORÍA</mat-option
                  >
                  <mat-option class="font-sm-corhuila" value="0"
                    >CUERPO COLEGIADO</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-select
                  class="font-sm-corhuila"
                  placeholder="CUERPO COLEGIADO"
                  [(ngModel)]="cuerpoColegiado"
                >
                  <mat-option
                    class="font-sm-corhuila"
                    *ngFor="let cuerpoColegiado of listadoCuerposColegiados"
                    [value]="cuerpoColegiado.nombre"
                    >{{ cuerpoColegiado.nombreCorto }} -
                    {{ cuerpoColegiado.nombre }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-select
                  class="font-sm-corhuila"
                  placeholder="ENTIDAD EXTERNA"
                  [(ngModel)]="entidadExterna"
                >
                  <mat-option
                    class="font-sm-corhuila"
                    *ngFor="let item of listadoEntidadExterna"
                    [value]="item.nombre"
                    >{{ item.nombre }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-select
                  class="font-sm-corhuila"
                  placeholder="TIPO DE NORMA"
                  [(ngModel)]="tipoNorma"
                >
                  <mat-option
                    class="font-sm-corhuila"
                    *ngFor="let item of listadoNormaTipo"
                    [value]="item.nombre"
                    >{{ item.nombre }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-select
                  class="font-sm-corhuila"
                  placeholder="MEDIO EN QUE SE ENCUENTRA"
                  [(ngModel)]="medio"
                >
                  <mat-option class="font-sm-corhuila" value="DIGITAL"
                    >DIGITAL</mat-option
                  >
                  <mat-option class="font-sm-corhuila" value="FÍSICO"
                    >FÍSICO</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-2">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-select
                  class="font-sm-corhuila"
                  placeholder="DEROGA"
                  [(ngModel)]="deroga"
                >
                  <mat-option class="font-sm-corhuila" value="1">SI</mat-option>
                  <mat-option class="font-sm-corhuila" value="0">NO</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width" appearance="outline">
                <input
                  matInput
                  type="text"
                  (keyup)="filtrar($event)"
                  [(ngModel)]="claves"
                  placeholder="PALABRAS CLAVES"
                />
                <button
                  matSuffix
                  style="text-decoration: none; background: none; border: none"
                >
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
              </mat-form-field>
            </div>
            <div class="col-sm-2">
              <button class="btn btn-corhuila-p-1" (click)="restaurar()">
                <i class="fa-solid fa-rotate-right"></i> Restaurar
              </button>
            </div>
          </div>
        </fieldset>
        <div class="row mt-2">
          <div class="col">
            <table
              mat-table
              [dataSource]="
                dataSource
                  | filtroEntidad : 'entidad' : entidad
                  | filtroCuerpoColegiado : 'cuerpoColegiado' : cuerpoColegiado
                  | filtroNormaTipo : 'normaTipo' : tipoNorma
                  | filtroEntidadExterna : 'entidadExterna' : entidadExterna
                  | filtroMedio : 'medio' : medio
                  | filtroDeroga : 'deroga' : deroga
                  | filtroEntidadInterna : 'rectoria' : entidadInterna
              "
            >
              <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef>N°</th>
                <td
                  mat-cell
                  *matCellDef="let element; let i = index"
                  class="font-sm-usco"
                >
                  {{ dataSource.filteredData.indexOf(element) + 1 }}
                </td>
              </ng-container>
              <ng-container matColumnDef="nombreEntidad">
                <th style="width: 20%" mat-header-cell *matHeaderCellDef>
                  ENTIDAD
                </th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  <span
                    *ngIf="element.entidadCodigo == 1 && element.rectoria == 0"
                    >{{ element.entidad }} - {{ element.cuerpoColegiado }}</span
                  >
                  <span *ngIf="element.entidadCodigo == 2"
                    >{{ element.entidad }} - {{ element.entidadExterna }}</span
                  >
                  <span *ngIf="element.rectoria == 1"
                    >{{ element.entidad }} - RECTORÍA</span
                  >
                </td>
              </ng-container>
              <ng-container matColumnDef="nombre">
                <th style="width: 20%" mat-header-cell *matHeaderCellDef>
                  NOMBRE
                </th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.normaTipo }} {{ element.numero }}
                  {{ element.nombre | uppercase }}
                </td>
              </ng-container>
              <ng-container matColumnDef="fechaExpedicion">
                <th mat-header-cell *matHeaderCellDef>FECHA EXPEDICIÓN</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.fechaExpedicion | date : "dd/MM/yyyy" }}
                </td>
              </ng-container>
              <ng-container matColumnDef="fechaVigencia">
                <th mat-header-cell *matHeaderCellDef>FECHA VIGENCIA</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.fechaVigencia | date : "dd/MM/yyyy" }}
                </td>
              </ng-container>
              <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef>OPCIONES</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  <button
                    *ngIf="!botonActivo(element)"
                    class="btn btn-success btn-sm mr-2"
                    #tooltip="matTooltip"
                    matTooltip="Activo"
                    matTooltipPosition="above"
                  >
                    <i class="fa-solid fa-check fa-xs"></i>
                  </button>
                  <button
                    *ngIf="botonActivo(element)"
                    class="btn btn-secondary btn-sm mr-2"
                    #tooltip="matTooltip"
                    matTooltip="Inactivo"
                    matTooltipPosition="above"
                  >
                    <i class="fa-solid fa-square-minus fa-xs"></i>
                  </button>
                  <button
                    class="btn btn-corhuila-info btn-sm mr-2"
                    #tooltip="matTooltip"
                    matTooltip="Informacion"
                    matTooltipPosition="above"
                    (click)="vistaNorma(element)"
                  >
                    <i class="fa-solid fa-eye fa-xs"></i>
                  </button>
                  <button
                    *ngIf="!botonActivo(element)"
                    class="btn btn-corhuila-delete btn-sm mr-2"
                    (click)="eliminarNorma(element)"
                    #tooltip="matTooltip"
                    matTooltip="Borrar"
                    matTooltipPosition="above"
                  >
                    <i class="fa-solid fa-trash fa-xs"></i>
                  </button>
                  <button
                    *ngIf="!botonActivo(element)"
                    class="btn btn-corhuila-editar btn-sm mr-2"
                    (click)="editarNorma(element)"
                    #tooltip="matTooltip"
                    matTooltip="Editar"
                    matTooltipPosition="above"
                  >
                    <i class="fa-solid fa-pencil fa-xs"></i>
                  </button>
                  <button
                    *ngIf="element.deroga == 1"
                    class="btn btn-corhuila-p-1 btn-sm mr-2"
                    (click)="registrarFormularioDeroga(element)"
                    #tooltip="matTooltip"
                    matTooltip="Derogar"
                    matTooltipPosition="above"
                  >
                    <i class="fa-solid fa-sitemap"></i>
                  </button>
                  <button
                    *ngIf="element.derogaTipoCodigo == 1"
                    class="btn btn-danger btn-sm mr-2"
                    #tooltip="matTooltip"
                    matTooltip="{{ element.derogaPadre }} - TOTAL"
                    matTooltipPosition="above"
                  >
                    <i class="fa-solid fa-traffic-light"></i>
                  </button>
                  <button
                    *ngIf="element.derogaTipoCodigo == 2"
                    class="btn btn-warning btn-sm mr-2"
                    #tooltip="matTooltip"
                    matTooltip="{{ element.derogaPadre }} - PARCIAL"
                    matTooltipPosition="above"
                  >
                    <i class="fa-solid fa-traffic-light"></i>
                  </button>
                  <button
                    *ngIf="element.derogaTipoCodigo == 3"
                    class="btn btn-primary btn-sm mr-2"
                    #tooltip="matTooltip"
                    matTooltip="{{ element.derogaPadre }} - MODIFICA"
                    matTooltipPosition="above"
                  >
                    <i class="fa-solid fa-traffic-light"></i>
                  </button>
                  <a href="{{ element.url }}" target="_blank">
                    <button
                      class="btn btn-info btn-sm mr-2"
                      #tooltip="matTooltip"
                      matTooltip="Archivo"
                      matTooltipPosition="above"
                    >
                      <i class="fa-solid fa-link"></i></button
                  ></a>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-paginator
              [pageSizeOptions]="[10, 20, 30]"
              showFirstLastButtons
            ></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-navbar>
