<h2 mat-dialog-title class="bg-corhuila-p-as-2 text-white">
  <i class="fa-solid fa-circle-info"></i> Formulario institución
</h2>
<!-- <div mat-dialog-title class="bg-corhuila-p-as-2">
  <div class="row mb-2">
    <div class="col">
      <h4 class="text-white">
        <i class="fa-solid fa-circle-info"></i> Formulario institución
      </h4>
    </div>
    <div class="col text-right text-white font-weight-bold">
      <i class="fa-solid fa-xmark" mat-dialog-close></i>
    </div>
  </div>
</div> -->
<mat-dialog-content>
  <div class="row pl-4 pr-4 mt-4 text-left">
    <div class="col">
      <form>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="ml-1">Nit <span class="requerido">*</span></label>
              <input
                type="text"
                class="form-control"
                placeholder="Digite el Nit"
                autocomplete="off"
                required
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="ml-1"
                >Código SNIES <span class="requerido">*</span></label
              >
              <input
                type="number"
                formControlName="ies"
                class="form-control"
                required
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="ml-1"
                >Código SNIES Padre <span class="requerido">*</span></label
              >
              <input
                type="number"
                formControlName="iesPadre"
                class="form-control"
                required
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="ml-1"
                >Naturaleza Jurídica <span class="requerido">*</span></label
              >
              <select class="form-control" formControlName="naturaleza">
                <option
                  *ngFor="let listado of listadoNaturalezaJuridica"
                  [value]="listado.codigo"
                >
                  {{ listado.nombre }}
                </option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="ml-1"
                >Sector <span class="requerido">*</span></label
              >
              <select class="form-control" formControlName="sector">
                <option
                  *ngFor="let listado of listadoSector"
                  [value]="listado.codigo"
                >
                  {{ listado.nombre }}
                </option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="ml-1"
                >Carácter Académico <span class="requerido">*</span></label
              >
              <select class="form-control" formControlName="caracter">
                <option
                  *ngFor="let listado of listadoCaracterAcademico"
                  [value]="listado.codigo"
                >
                  {{ listado.nombre }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="ml-1"
                >Nombre de la Institución
                <span class="requerido">*</span></label
              >
              <input
                type="text"
                formControlName="nombre"
                class="form-control"
                required
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="ml-1">País <span class="requerido">*</span></label>
              <select
                class="form-control"
                formControlName="pais"
                (ngModelChange)="obtenerDepartamentosPorPais($event)"
              >
                <option *ngFor="let pais of paisLocal" [value]="pais.codigo">
                  {{ pais.nombre }}
                </option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="ml-1"
                >Departamento <span class="requerido">*</span></label
              >
              <select
                class="form-control example-full-width"
                formControlName="departamento"
                (ngModelChange)="
                  obtenerMunicipiosPorDepartamento($event)
                "
              >
                <option
                  *ngFor="let departamento of departamentos"
                  [value]="departamento.divipola"
                >
                  {{ departamento.nombre }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="ml-1"
                >Municipio <span class="requerido">*</span></label
              >
              <select
                class="form-control example-full-width"
                formControlName="municipio"
                (ngModelChange)="obtenerCcpPorMunicipio($event)"
              >
                <option *ngFor="let mun of municipios" [value]="mun.divipola">
                  {{ mun.nombre }}
                </option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="ml-1"
                >Cabecera Municipale o Centro Poblado
                <span class="requerido">*</span></label
              >
              <select
                class="form-control example-full-width"
                formControlName="ccp"
              >
                <option *ngFor="let ccp of listadoCcp" [value]="ccp.divipola">
                  {{ ccp.nombre }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="ml-1"
                >Dirección <span class="requerido">*</span></label
              >
              <input
                type="text"
                formControlName="direccion"
                class="form-control"
                required
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="ml-1"
                >Teléfonos <span class="requerido">*</span></label
              >
              <input
                type="number"
                formControlName="telefono"
                class="form-control"
                required
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="ml-1"
                >Página Web <span class="requerido">*</span></label
              >
              <input
                type="text"
                formControlName="url"
                class="form-control"
                required
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="ml-1"
                >Norma de creación <span class="requerido">*</span></label
              >
              <input
                type="text"
                formControlName="norma"
                class="form-control"
                required
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="ml-1"
                >Fecha de la norma de creación
                <span class="requerido">*</span></label
              >
              <input
                type="date"
                formControlName="fechaNorma"
                class="form-control"
                required
              />
            </div>
          </div>
          <!--   <div class="col">
            <div class="form-group mt-2">
              <div>
                <label class="file example-full-width">
                  <input
                    type="file"
                    accept="application/pdf"
                    aria-label="file browser example"
                  />
                  <span class="file-custom text-left">{{nameFile}}</span>
                </label>
              </div>
            </div>
          </div> -->
        </div>
      </form>
    </div>
  </div>
</mat-dialog-content>
<hr />
<mat-dialog-actions align="end">
  <button type="button" class="btn btn-success mr-2">
    <i class="far fa-save"></i> Guardar
  </button>
  <button type="button" mat-dialog-close class="btn btn-secondary">Cancelar</button>
</mat-dialog-actions>
