<h2 mat-dialog-title class="bg-corhuila-p-as-2 font-corhuila text-white">
  <i class="fa-solid fa-circle-info"></i> Formulario sede
</h2>
<mat-dialog-content>
  <div class="row pl-4 pr-4 mt-2 text-left">
    <div class="col">
      <form [formGroup]="formSede">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="ml-1"
                >Nombre Sede <span class="requerido">*</span></label
              >
              <input
                type="text"
                formControlName="nombre"
                id="nombre"
                class="form-control"
                placeholder="Digite el nombre de la sede"
                required
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="ml-1"
                >Nit Institucion <span class="requerido">*</span></label
              >
              <select class="form-control" formControlName="nit">
                <option *ngFor="let ins of institucion" [value]="ins.nit">
                  {{ ins.nit }} - {{ ins.nombre }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="ml-1">País <span class="requerido">*</span></label>
              <select
                class="form-control"
                formControlName="pais"
                (ngModelChange)="obtenerDepartamentosPorPais($event)"
              >
                <option *ngFor="let pais of paisLocal" [value]="pais.codigo">
                  {{ pais.nombre }}
                </option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="ml-1"
                >Departamento <span class="requerido">*</span></label
              >
              <select
                class="form-control example-full-width"
                formControlName="departamento"
                (ngModelChange)="
                  obtenerMunicipiosPorDepartamento($event)
                "
              >
                <option
                  *ngFor="let departamento of departamentos"
                  [value]="departamento.divipola"
                >
                  {{ departamento.nombre }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="ml-1"
                >Municipio <span class="requerido">*</span></label
              >
              <select
                class="form-control example-full-width"
                formControlName="municipio"
                (ngModelChange)="obtenerCcpPorMunicipio($event)"
              >
                <option *ngFor="let mun of municipios" [value]="mun.divipola">
                  {{ mun.nombre }}
                </option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="ml-1"
                >Cabecera Municipale o Centro Poblado
                <span class="requerido">*</span></label
              >
              <select
                class="form-control example-full-width"
                formControlName="ccp"
              >
                <option *ngFor="let ccp of listadoCcp" [value]="ccp.divipola">
                  {{ ccp.nombre }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="ml-1"
                >Dirección <span class="requerido">*</span></label
              >
              <input
                type="text"
                formControlName="direccion"
                class="form-control"
                required
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="ml-1"
                >Teléfono <span class="requerido">*</span></label
              >
              <input
                type="number"
                formControlName="telefono"
                class="form-control"
                required
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="ml-1"
                >Tipo de sede <span class="requerido">*</span></label
              >
              <select
                class="form-control example-full-width"
                formControlName="tipo"
              >
                <option
                  *ngFor="let tipoSede of listadoTipoSede"
                  [value]="tipoSede.codigo"
                >
                  {{ tipoSede.nombre }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</mat-dialog-content>
<hr />
<mat-dialog-actions align="end">
  <button class="btn btn-warning" mat-dialog-close (click)="cancelar()">
    <i class="fa-solid fa-xmark"></i> Cancelar
  </button>
  <button
    type="button"
    class="btn btn-success ml-2"
    [disabled]="!formSede.valid"
    (click)="generarSede()"
  >
    <i class="far fa-save"></i> Guardar
  </button>
</mat-dialog-actions>
