<h2 mat-dialog-title class="bg-corhuila-p-as-2 font-corhuila text-white">
  <i class="fa-solid fa-circle-info"></i> Formulario sede
</h2>
<mat-dialog-content>
  <div class="row pl-4 pr-4 mt-2 text-left">
    <div class="col">
      <form [formGroup]="formSede">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Nombre Sede<span class="requerido">*</span></label>
              <mat-form-field class="example-full-width" appearance="outline">
                <input matInput type="text" formControlName="nombre" required />
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Nit Institucion<span class="requerido">*</span></label>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-select class="font-sm-corhuila" formControlName="nit">
                  <mat-option
                    class="font-sm-corhuila"
                    *ngFor="let ins of institucion"
                    [value]="ins.nit"
                    >{{ ins.nit }} - {{ ins.nombre }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>País<span class="requerido">*</span></label>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-select class="font-sm-corhuila" formControlName="pais">
                  <mat-option
                    class="font-sm-corhuila"
                    *ngFor="let pais of paisLocal"
                    [value]="pais.codigo"
                    (click)="obtenerDepartamentosPorPais(pais.codigo)"
                    >{{ pais.nombre }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Departamento<span class="requerido">*</span></label>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-select
                  class="font-sm-corhuila"
                  id="departamento"
                  formControlName="departamento"
                >
                  <mat-option
                    class="font-sm-corhuila"
                    *ngFor="let dep of departamentos"
                    [value]="dep.divipola"
                    (click)="
                      obtenerMunicipiosPorDepartamento(dep.divipola)
                    "
                    >{{ dep.nombre }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Municipio<span class="requerido">*</span></label>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-select
                  class="font-sm-corhuila"
                  formControlName="municipio"
                >
                  <mat-option
                    class="font-sm-corhuila"
                    *ngFor="let mun of municipios"
                    (click)="obtenerCcpPorMunicipio(mun.divipola)"
                    [value]="mun.divipola"
                    >{{ mun.nombre }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label
                >Cabecera municipal o centro poblado<span class="requerido"
                  >*</span
                ></label
              >
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-select class="font-sm-corhuila" formControlName="ccp">
                  <mat-option
                    class="font-sm-corhuila"
                    *ngFor="let ccp of listadoCcp"
                    [value]="ccp.divipola"
                    >{{ ccp.nombre }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Dirección<span class="requerido">*</span></label>
              <mat-form-field class="example-full-width" appearance="outline">
                <input matInput formControlName="direccion" required />
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Teléfonos<span class="requerido">*</span></label>
              <mat-form-field class="example-full-width" appearance="outline">
                <input
                  matInput
                  formControlName="telefono"
                  type="number"
                  required
                />
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Tipo de sede<span class="requerido">*</span></label>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-select class="font-sm-corhuila" formControlName="tipo">
                  <mat-option
                    class="font-sm-corhuila"
                    *ngFor="let tipoSede of listadoTipoSede"
                    [value]="tipoSede.codigo"
                    >{{ tipoSede.nombre }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</mat-dialog-content>
<hr />
<mat-dialog-actions align="end">
  <button class="btn btn-warning" mat-dialog-close (click)="cancelar()">
    <i class="fa-solid fa-xmark"></i> Cancelar
  </button>
  <button
    type="button"
    class="btn btn-success ml-2"
    [disabled]="!formSede.valid"
    (click)="generarSede()"
  >
    <i class="far fa-save"></i> Guardar
  </button>
</mat-dialog-actions>
