<app-navbar>
  <div id="content-wrap" class="mt-3 mb-4 text-center">
    <div class="card rounded-2 p-0 shadow-sm mt-5">
      <div
        class="card-header text-center ml-4 mr-4 cursor-select"
        [routerLink]="['/configuracion']"
        routerLinkActive="router-link-active"
      >
        <h4 class="font-usco-default">
          <strong>Registro Persona</strong>
        </h4>
      </div>
      <div class="card-body ls">
        <div class="row pl-5 pr-5">
          <div class="col">
            <form [formGroup]="formPersona">
              <div class="row mb-2">
                <div class="col text-left">
                  <h6>Datos personales:</h6>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Número de identidad</mat-label>
                      <input
                        matInput
                        #input
                        maxlength="16"
                        type="number"
                        formControlName="identificacion"
                        required
                      />
                      <button matSuffix mat-icon-button>
                        <mat-icon>search</mat-icon>
                      </button>
                      <mat-hint align="end"
                        >{{ input.value.length }}/16</mat-hint
                      >
                    </mat-form-field>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Tipo de documento</mat-label>
                      <mat-select formControlName="identificacionTipo">
                        <mat-option
                          *ngFor="let tipoId of tipoIndentificacion"
                          [value]="tipoId.codigo"
                          >{{ tipoId.nombreCorto }} -
                          {{ tipoId.nombre }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Fecha de expedicion</mat-label>
                      <input
                        matInput
                        [matDatepicker]="picker"
                        formControlName="fechaExpedicion"
                      />
                      <mat-hint>MM/DD/AAAA</mat-hint>
                      <mat-datepicker-toggle
                        matIconSuffix
                        [for]="picker"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Lugar de expedición</mat-label>
                      <mat-select formControlName="lugarExpedicion">
                        <mat-option [value]="null">NINGUNO</mat-option>
                        <mat-option
                          *ngFor="let mun of municipios"
                          [value]="mun.codigo"
                          >{{ mun.nombre }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Nombres</mat-label>
                      <input matInput formControlName="nombre" required />
                    </mat-form-field>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Apellidos</mat-label>
                      <input matInput formControlName="apellido" required />
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Sexo biológico</mat-label>
                      <mat-select formControlName="sexo">
                        <mat-option
                          *ngFor="let genero of generos"
                          [value]="genero.codigo"
                          >{{ genero.nombre }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Fecha de nacimiento</mat-label>
                      <input
                        matInput
                        [matDatepicker]="picker1"
                        formControlName="fechaNacimiento"
                      />
                      <mat-hint>MM/DD/AAAA</mat-hint>
                      <mat-datepicker-toggle
                        matIconSuffix
                        [for]="picker1"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Grupo sanguíneo</mat-label>
                      <mat-select formControlName="grupoSanguineo">
                        <mat-option
                          *ngFor="let grupo of gruposSanguineos"
                          [value]="grupo.codigo"
                          >{{ grupo.nombre }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Estado civil</mat-label>
                      <mat-select formControlName="estadoCivil">
                        <mat-option
                          *ngFor="let estado of estadosCivil"
                          [value]="estado.codigo"
                          >{{ estado.nombre }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <hr />
              <div class="row mb-2">
                <div class="col text-left">
                  <h6>Datos de contacto:</h6>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>País residencia</mat-label>
                      <mat-select formControlName="pais">
                        <mat-option
                          *ngFor="let pais of paisLocal"
                          [value]="pais.codigo"
                          (click)="obtenerDepartamentosPorPais(pais.codigo)"
                          >{{ pais.nombre }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Departamento residencia</mat-label>
                      <mat-select formControlName="departamento">
                        <mat-option
                          *ngFor="let dep of departamentos"
                          [value]="dep.codigo"
                          (click)="
                            obtenerMunicipiosPorDepartamento(dep.divipola)
                          "
                          >{{ dep.nombre }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Municipio residencia</mat-label>
                      <mat-select formControlName="municipio">
                        <mat-option [value]="null">NINGUNO</mat-option>
                        <mat-option
                          *ngFor="let mun of municipios"
                          [value]="mun.codigo"
                          >{{ mun.nombre }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label
                        >Cabecera Municipale o Centro Poblado</mat-label
                      >
                      <mat-select formControlName="ccp">
                        <mat-option
                          *ngFor="let ccp of listadoCcp"
                          [value]="ccp.divipola"
                          >{{ ccp.nombre }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Dirección</mat-label>
                      <input matInput formControlName="direccion" required />
                    </mat-form-field>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Barrio</mat-label>
                      <input matInput formControlName="barrio" required />
                    </mat-form-field>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Estrato</mat-label>
                      <mat-select formControlName="estrato">
                        <mat-option
                          *ngFor="let est of estrato"
                          [value]="est.codigo"
                          >{{ est.codigo }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Teléfono movil</mat-label>
                      <input
                        matInput
                        formControlName="telefonoMovil"
                        required
                      />
                    </mat-form-field>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Teléfono fijo</mat-label>
                      <input matInput formControlName="telefonoFijo" required />
                    </mat-form-field>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Correo personal</mat-label>
                      <input
                        matInput
                        formControlName="correoPersonal"
                        required
                      />
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <hr />
              <div class="row mb-2">
                <div class="col text-left">
                  <h6>Datos de caracterización:</h6>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Grupo étnico</mat-label>
                      <mat-select formControlName="grupoEtnico">
                        <mat-option
                          *ngFor="let grupo of grupoEtnico"
                          [value]="grupo.codigo"
                          >{{ grupo.nombre }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Pueblo indigena</mat-label>
                      <!-- <mat-select
                        *ngIf="formPersona.get('grupoEtnico')!.value !== 1"
                        id="departamento"
                        disabled
                      >
                        <mat-option
                          *ngFor="let pueblo of puebloIndigena"
                          [value]="pueblo.codigo"
                          >{{ pueblo.nombre }}</mat-option
                        >
                      </mat-select> -->
                      <mat-select formControlName="puebloIndigena">
                        <mat-option
                          *ngFor="let pueblo of puebloIndigena"
                          [value]="pueblo.codigo"
                          >{{ pueblo.nombre }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Comunidad negra</mat-label>
                      <mat-select formControlName="comunidadNegra">
                        <mat-option
                          *ngFor="let comunidad of comunidadNegra"
                          [value]="comunidad.codigo"
                          >{{ comunidad.nombre }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Persona discapacidad</mat-label>
                      <mat-select formControlName="personaDiscapacidad">
                        <mat-option
                          *ngFor="let persona of personaDiscapacidad"
                          [value]="persona.codigo"
                          >{{ persona.condicion }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Tipo discapacidad</mat-label>
                      <mat-select formControlName="discapacidadTipo">
                        <mat-option
                          *ngFor="let discapacidad of discapacidadTipo"
                          [value]="discapacidad.codigo"
                          >{{ discapacidad.nombre }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Talento excepcional</mat-label>
                      <mat-select formControlName="talentoExepcional">
                        <mat-option
                          *ngFor="let talento of talentoExepcional"
                          [value]="talento.codigo"
                          >{{ talento.nombre }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <hr />
              <div class="row mb-2">
                <div class="col text-left">
                  <h6>Familiar de contacto:</h6>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Nombre completo</mat-label>
                      <input
                        matInput
                        formControlName="nombreFamiliar"
                        required
                      />
                    </mat-form-field>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Teléfono</mat-label>
                      <input
                        matInput
                        formControlName="telefonoFamiliar"
                        readonly
                      />
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Lugar de residencia</mat-label>
                      <input
                        matInput
                        formControlName="residenciaFamiliar"
                        readonly
                      />
                    </mat-form-field>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Dirección</mat-label>
                      <input
                        matInput
                        formControlName="direccionFamiliar"
                        required
                      />
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col text-center">
                  <button type="button" class="btn btn-success mr-2">
                    <i class="far fa-save"></i> Guardar
                  </button>
                </div>
              </div>
            </form>
            <div class="row mt-5">
              <div class="col">
                <table
                  mat-table
                  [dataSource]="dataSource"
                  class="table table-hover shadow"
                >
                  <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef>N°</th>
                    <td
                      mat-cell
                      *matCellDef="let element; let i = index"
                      class="font-sm-usco"
                    >
                      {{ dataSource.filteredData.indexOf(element) + 1 }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="nit">
                    <th mat-header-cell *matHeaderCellDef>Identificación</th>
                    <td
                      mat-cell
                      *matCellDef="let element"
                      class="font-sm-usco"
                    ></td>
                  </ng-container>
                  <ng-container matColumnDef="ies">
                    <th mat-header-cell *matHeaderCellDef>Nombres</th>
                    <td
                      mat-cell
                      *matCellDef="let element"
                      class="font-sm-usco"
                    ></td>
                  </ng-container>
                  <ng-container matColumnDef="padre">
                    <th mat-header-cell *matHeaderCellDef>Fecha nacimiento</th>
                    <td
                      mat-cell
                      *matCellDef="let element"
                      class="font-sm-usco"
                    ></td>
                  </ng-container>
                  <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef>Sexo biológico</th>
                    <td
                      mat-cell
                      *matCellDef="let element"
                      class="font-sm-usco"
                    ></td>
                  </ng-container>
                  <ng-container matColumnDef="creacion">
                    <th mat-header-cell *matHeaderCellDef>Telefono</th>
                    <td
                      mat-cell
                      *matCellDef="let element"
                      class="font-sm-usco"
                    ></td>
                  </ng-container>
                  <ng-container matColumnDef="existencia">
                    <th mat-header-cell *matHeaderCellDef>Correo</th>
                    <td
                      mat-cell
                      *matCellDef="let element"
                      class="font-sm-usco"
                    ></td>
                  </ng-container>
                  <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef>Municipio</th>
                    <td
                      mat-cell
                      *matCellDef="let element"
                      class="font-sm-usco"
                    ></td>
                  </ng-container>
                  <ng-container matColumnDef="pdf">
                    <th mat-header-cell *matHeaderCellDef>Estado</th>
                    <td
                      mat-cell
                      *matCellDef="let element"
                      class="font-sm-usco"
                    ></td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                  ></tr>
                </table>
                <mat-paginator
                  [pageSizeOptions]="[10, 20, 30]"
                  showFirstLastButtons
                ></mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-navbar>
