<h2 mat-dialog-title class="bg-corhuila-p-as-2 font-corhuila text-white">
  <i class="fa-solid fa-circle-info"></i> Formulario campo específico
</h2>
<mat-dialog-content>
  <div class="row pl-4 pr-4 mt-2 text-left">
    <div class="col">
      <form [formGroup]="formularioEspecifico">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Campo amplio<span class="requerido">*</span></label>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-select class="font-sm-corhuila" formControlName="amplio">
                  <mat-option
                    class="font-sm-corhuila"
                    *ngFor="let amplio of listadoCineAmplio"
                    [value]="amplio.codigo"
                    >{{ amplio.cine }} - {{ amplio.nombre }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <div class="form-group">
              <label>Código CINE<span class="requerido">*</span></label>
              <mat-form-field class="example-full-width" appearance="outline">
                <input matInput type="text" formControlName="cine" required />
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label
                >Nombre del campo especifico<span class="requerido"
                  >*</span
                ></label
              >
              <mat-form-field class="example-full-width" appearance="outline">
                <input matInput type="text" formControlName="nombre" required />
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</mat-dialog-content>
<hr />
<mat-dialog-actions align="end">
  <button class="btn btn-warning" mat-dialog-close (click)="cancelar()">
    <i class="fa-solid fa-xmark"></i> Cancelar
  </button>
  <button
    type="button"
    class="btn btn-success ml-2"
    [disabled]="!formularioEspecifico.valid"
    (click)="generarEspecifico()"
  >
    <i class="far fa-save"></i> Guardar
  </button>
</mat-dialog-actions>
