<h2 mat-dialog-title class="bg-corhuila-p-as-2 font-corhuila text-white">
  <i class="fa-solid fa-circle-info"></i> Formulario campo amplio
</h2>
<mat-dialog-content>
  <div class="row pl-4 pr-4 mt-2 text-left">
    <div class="col">
      <form [formGroup]="formularioAmplio">
        <div class="row">
          <div class="col-sm-2">
            <div class="form-group">
              <label>Código CINE<span class="requerido">*</span></label>
              <mat-form-field class="example-full-width" appearance="outline">
                <input matInput type="text" formControlName="cine" required />
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label
                >Nombre del campo amplio<span class="requerido">*</span></label
              >
              <mat-form-field class="example-full-width" appearance="outline">
                <input matInput type="text" formControlName="nombre" required />
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</mat-dialog-content>
<hr />
<mat-dialog-actions align="end">
  <button class="btn btn-warning" mat-dialog-close (click)="cancelar()">
    <i class="fa-solid fa-xmark"></i> Cancelar
  </button>
  <button
    type="button"
    class="btn btn-success ml-2"
    [disabled]="!formularioAmplio.valid"
    (click)="generarAmplio()"
  >
    <i class="far fa-save"></i> Guardar
  </button>
</mat-dialog-actions>
